<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blockchain.server.eos.mapper.EosWalletBlockedDetailMapper">
    <resultMap id="BaseMap" type="com.blockchain.server.eos.entity.EosWalletBlockedDetail">
        <result column="id" property="id" />
        <result column="wallet_uid" property="walletUid" />
        <result column="token_symbol" property="tokenSymbol" />
        <result column="user_open_id" property="userOpenId" />
        <result column="opt_total" property="optTotal" />
        <result column="opt_total" property="optTotal" />
        <result column="type" property="type" />
        <result column="system_user_id" property="systemUserId" />
        <result column="ip_addr" property="ipAddr" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>
    <sql id="tableName">dapp_eos_wallet_blocked_detail</sql>

    <select id="listByParams" resultMap="BaseMap">
        select * from
        <include refid="tableName"></include>
        <where>
            <if test="userOpenId != null and userOpenId != ''">
                user_open_id = #{userOpenId}
            </if>
            <if test="type != null and type != ''">
                type = #{type}
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>